.post-card {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  padding: 1.25rem;
  gap: 1rem;
  background-color: #14182b;
  border: 1px solid #1e293b;
  border-radius: 1.25rem;
  width: 100%;

  background-image:
    radial-gradient(
      300px circle at -10% 110%,
      rgba(77, 100, 216, 0.25),
      transparent 60%
    ),
    radial-gradient(
      300px circle at 110% -10%,
      rgba(77, 100, 216, 0.25),
      transparent 60%
    );

  transition:
    border 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.card-header-left {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.time-ago {
  color: #94a3b3;
  font-size: 0.9rem;
}

.card-header-right p {
  color: #94a3b3;
}

.card-header img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-header-info {
  display: flex;
  flex-direction: column;
}

.card-header-info h4 {
  color: #f9f9f9;
  letter-spacing: 0.8px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  font-weight: 700;
}

.card-header-info p {
  color: #94a3b3;
  font-size: 0.9rem;
}

.relocation-user {
  text-decoration: none;
}

.relocation-user.mention {
  color: #3b5bff;
}

.card-content {
  color: white;
  border-bottom: 1px solid #1e293b;
  padding: 1rem 0;
  line-height: 1.5;
}

.hashtag {
  display: inline;
  color: #94a3b3;
}

.post-card-actions {
  display: flex;
  align-items: center;
  color: white;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  gap: 6px;
  color: #fff;
  transition: all 0.15s ease;
}

.action-btn:active {
  transform: scale(0.9);
}

.action-btn.comments:hover {
  color: #3b5bff;
  background-color: #0f1c4d;
}

.action-btn.likes:hover {
  background-color: #271b26;
}

.action-btn.likes.disabled ion-icon {
  color: rgb(100, 116, 139);
}

.action-btn.likes:hover ion-icon {
  color: #fb7185;
}

.action-btn.likes.active ion-icon {
  color: #fb7185;
}

@keyframes fadeComments {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-card-actions-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.post-image_url {
  width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}

.card-header-right ion-icon {
  color: white;
  cursor: pointer;
}

.card-header-right {
  position: relative;
}

.card-header-right button {
  background-color: transparent;
  border: 0;
}

.context-menu-options {
  position: absolute;
  top: 20px;
  left: 10px;
}

.context-menu-options {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 0px;
  padding: 20px;
  background-color: #ffffffe0;
  border: 1px solid #1e293b;
}

.context-menu-options.active {
  display: flex;
}

.context-menu-options button {
  background-color: transparent;
  border: 0;
  font-size: 14px;
  cursor: pointer;
}

.context-menu-options .delete {
  color: red;
}
