.profiles-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
  gap: 1.25rem;
  top: 130px;
  width: 21.875rem;
}

.profiles-container h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
}
