.profiles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 80%;
}

.profile-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 160px;
}

.profile-info h4 {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.profile-username {
  color: #94a3b3;
  letter-spacing: 0.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.profiles img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.follow-button {
  border-radius: 10px;
  background-color: transparent;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 0.8rem;
}
