.modal.modal--edit {
  display: none;
  padding: 20px 0;
  width: 800px;
}

.modal.modal--edit.active {
  display: flex;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.btn-modal.close {
  background-color: transparent;
}

.btn-modal.save {
  width: 50px;
}

.btn-modal.close ion-icon {
  font-size: 26px;
}

.image-profile-container {
  width: 90%;
  position: relative;
}

.image-profile-container .user-img {
  position: absolute;
  top: 200px;
}

.banner.image-modal {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.banner.image-modal.image_active::after {
  content: "";
  inset: 0;
  position: absolute;
  border-radius: 1.25rem 1.25rem 0 0;
  background-color: rgba(0, 0, 0, 0.486);
}

.image_url_modal {
  display: none;
}

.input-container-modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  margin-top: -50px;
  width: 90%;
}

.input-container-modal input {
  width: 100%;
  height: 50px;
  padding-left: 1rem;
  background-color: transparent;
  border: 1px solid #1e293b;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: white;
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;
}

.input-container-modal textarea {
  width: 100%;
  height: 100px;
  padding-left: 1rem;
  background-color: transparent;
  border: 1px solid #1e293b;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding-top: 8px;
  color: white;
  transition:
    border 0.2s ease,
    box-shadow 0.2s ease;
  resize: none;
}

.input-container-modal input::placeholder,
.input-container-modal textarea::placeholder {
  color: #405569;
  font-size: 0.95rem;
}

.input-container-modal input:focus,
.input-container-modal textarea:focus {
  outline: none;
  border: 1px solid #1334d8;
  box-shadow: 0 0 0 3px rgba(19, 52, 216, 0.15);
}

.user-img.modal-img {
  position: relative;
}

.user-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-img-container::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 50%;
}

.btn-update-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.289);
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 9999;
}

.btn-update-image:hover {
  background-color: rgba(0, 0, 0, 0.656);
}
