* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-color: #101322;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: #101322;
}

.main {
  flex: 1;
}
